.table {
  width: 100%;
  border-collapse: collapse;
  font-variant-numeric: tabular-nums;

  th,
  td {
    padding: 0.6em 0.5em;
    text-align: left;
  }

  th:last-child,
  td {
    text-align: right;
  }

  tbody tr {
    border-top: 1px solid var(--board);
  }

  tbody th {
    font-weight: 400;
  }
}
