.board {
  position: relative;
  margin-top: 1em;
  padding: var(--board-padding);
  background-color: var(--board);
  border-radius: var(--borderRadius);
  user-select: none;
}

.boardInner {
  position: relative;
}
