.grid {
  .row {
    display: flex;
    width: 100%;

    &:not(:last-child) {
      margin-bottom: var(--cell-gap);
    }
  }

  .cell {
    // include margins
    // width: calc(
    //   (100% / var(--board-size)) -
    //     (var(--cell-gap) / var(--board-size) * (var(--board-size) - 1))
    // );
    // flex-shrink: 0;

    width: calc((100% / var(--board-size)));
    flex-shrink: 1;
    border-radius: var(--borderRadius);
    aspect-ratio: 1/1;
    background-color: var(--cell);
    // transition: all 0.3s ease;
    &:not(:last-child) {
      margin-right: var(--cell-gap);
    }
  }
}
