.youWin {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: var(--borderRadius);
  backdrop-filter: blur(4px);
  overflow: hidden;
  color: var(--btn-text);
  opacity: 0;
  transition: opacity calc(var(--transition-duration) * 5);
  z-index: 1;
  .title {
    line-height: 1;
    font-size: 2.5em;
    font-weight: 700;
    position: relative;
    z-index: 2;
  }
  .subtitle {
    font-size: 1em;
    font-weight: 700;
    margin-top: 1em;
    margin-bottom: 0;
    position: relative;
    opacity: 1;
    transition: opacity var(--transition-duration);
    z-index: 2;
    &.hidden {
      opacity: 0;
    }
  }
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #5c490a;
    // background-color: #b18c14;
    opacity: 0.5;
  }
  &.visible {
    opacity: 1;
  }
}
