.header {
  --gap: 0.5em;
  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &:not(:first-child) {
      margin-top: var(--gap);
    }

    > * + * {
      margin-left: var(--gap);
    }
  }

  h1 {
    font-size: 3em;
  }
}

.stats {
  display: flex;
  justify-content: end;
  > * + * {
    margin-left: 0.5em;
  }
}

.controls {
  display: flex;
  justify-content: end;
  * + * {
    margin-left: 0.5em;
  }
}
