.button {
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  background-color: var(--board);
  color: var(--btn-text);
  border: none;
  border-radius: var(--borderRadius);
  transition: background-color var(--transition-duration) ease;

  &[disabled] {
    opacity: 0.5;
  }
  &[transparent] {
    background-color: transparent;
    color: var(--btn-text);
    font-size: 2em;
    padding: 0;
    svg {
      opacity: 1;
    }
  }

  @media (hover: hover) {
    &:not([disabled]):hover {
      cursor: pointer;
      color: var(--btn-hover);
    }
  }
}
