.select {
  width: 100%;
  > * + * {
    margin-top: 0.5em;
  }
}

.heading {
  font-size: 1em;
  line-height: 1.2;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  display: block;
  overflow: hidden;
}

.options {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  overflow: hidden;
  border: solid 0.125em var(--button);
  border-radius: var(--borderRadius);
}

.options .option {
  border-radius: 0;
  flex-grow: 1;
  flex-shrink: 1;

  &:focus-visible {
    outline: 2px solid var(--text);
    outline-offset: -3px;
  }
}
